* {
	appearance: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	box-sizing: inherit;
}

html {
	font-size: 16px;
}

body {
	background: #fff;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: #000;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}